*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; 
}
a{
    text-decoration: none !important; 
}
body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
	background-color: #3f3f3f;
	background-size: 400% 400%;
}
/*ОБЩИЕ ХАР-КИ БЛОКОВ*/
.block {
    display: flex;
    margin: 0 auto;
    padding: 0 8%;
}
/*ЗАГОЛОВКИ*/
.header3 h2{
    text-align: left;
    width: 50%;
    border-bottom:3px solid #FF12BD;
    font-size: 2rem;
    margin: 5% 0 2% 0;
    font-weight: 400;
}
/*КНОПКИ*/
.button_buyticket{
    font-size: 1.6rem;
    min-width: 150px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    color: #FF12BD;
    border: 3px solid #FF12BD;
    border-radius: 30px;
    background: none;
    line-height: 1.1;
    padding: 5px 30px;
    transition: color .2s linear, background-color .2s linear, box-shadow .2s linear;
}
.button_buyticket:hover{
    background-color: #FF12BD;
    color: white;
    box-shadow: 7px 7px 15px #FF12BD(0,0,0,0.25);
}
.button_trailer{
    font-size: 1.6rem;
    display: inline-block;
    color: #FF12BD;
    border: 3px solid #FF12BD;
    border-radius: 30px;
    background: none;
    padding: 6px 12px 6px 14px;
    transition: color .2s linear, background-color .2s linear, box-shadow .2s linear;
}
.button_trailer:hover{
    background-color: #FF12BD;
    color: white;
    box-shadow: 7px 7px 15px #FF12BD(0,0,0,0.25);
}
.footer{
    margin-top: 2%;
    background-color: rgb(32, 32, 32);
}
.footer p{
    color:rgba(151, 151, 151, 0.719);
    padding: 10px 60px;
}
@keyframes scroll_opacity {
    from { opacity: 0; }   
    to { opacity: 1; }
   }