.pre_first_block{
    flex-direction: column;
    background-image: url("../images/Raya-And-The-Last-Dragon2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.block.pre_first_block{
    padding:0;
}
.first_block{
    background:linear-gradient(45deg,#000000ec,#ffffff21);
    padding: 0 8%;
}
.first_block .container_main{
    flex-direction: row;
    height: 93.2vh;
}
.first_block .left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_block .right{
    height: 100%;
    width: 50%;
}
.first_block .left .container{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.first_block .left .container .top{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.first_block .left .container .top .title{
    font-size: 4.2rem;
    font-weight: 700;
    width: 80%;
    text-align: center;
    margin-right: 1rem;
}
.first_block .left .container .top .addition{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 2rem;
}
.first_block .left .container .top .addition .genre,
.first_block .left .container .top .addition .date{
    text-align: center;
}
.first_block .left .container .bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 6% 0 6% 0;
    margin-top: 30px;
}
.first_block .left .container .bottom .trailer .button_trailer{
    font-size: 2.5rem;
    border-radius: 50px;  
    padding: 8px 14px 8px 20px;  
} 
.first_block .left .container .bottom .trailer .button{
    margin: 1rem;
}
.yakor{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.yakor_down{
    font-size: 1.5rem;
    line-height: 1rem;
    padding-top: 1rem;
    width:3rem;
    height:3rem;
    border:2px solid white;
    border-radius: 100%;
    margin:auto;
    text-align: center;
    transition: border 1s linear, background-color 1s linear;
}
.yakor_down:hover{
    border:2px solid rgb(138, 138, 138);
    background-color: rgb(138, 138, 138);
}
.yakor_down a{
    color:white; 
}
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
    position: fixed;
	top: 10vh;
	padding: 20px;
    width: 70%;
    height: 70%;
	margin-left: -35%;
    left:50%;
    border-radius: 4px;
	z-index: 99999;
	opacity: 1;	
}
.popup iframe{
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .pre_first_block{
        background-image: url("../images/Raya-And-The-Last-Dragon2-1100.jpg");
        width: 100%;
    }
    .first_block .left{
        width: 100%; 
    }
    .first_block .right{ 
        width: 0%;
    }
    .first_block .left .container .top .title{
        font-size: 4.5rem;
    }
    .first_block .left .container .top .addition{
        font-size: 3rem;
    } 
    .first_block .left .container .bottom .trailer .button_trailer{
        font-size: 3rem;
        padding: 8px 14px 8px 22px;
    } 
    .first_block .left .container .bottom .button .button_buyticket{
        font-size: 3rem;
    }
    .yakor_down{
        font-size: 2.5rem;
        width:5rem;
        height:5rem;
        padding-top: 2rem;
    }
}
  @media screen and (max-width: 767px) {
    .pre_first_block{
        background-image: url("../images/Raya-And-The-Last-Dragon2-700.jpg");
    }
    .first_block .left{
        width: 100%; 
    }
    .first_block .right{ 
        width: 0%;
    }
    .first_block .left .container .top .title{
        font-size: 2.5rem;
    }
    .first_block .left .container .top .addition{
        font-size: 1.5rem;
    } 
    .first_block .left .container .bottom .trailer .button_trailer{
        font-size: 1.7rem;
        padding: 8px 14px 8px 22px;
    } 
    .first_block .left .container .bottom .button .button_buyticket{
        font-size: 1.7rem;
    }
    .yakor_down{
        font-size: 1.5rem;
        width:3rem;
        height:3rem;
        padding-top: 0.85rem;
    }
    
    .header .menu{
        font-size: 1.3rem;
    }
  }




