.second_block{
    flex-direction: column;
}
.second_block .films{
    padding: 4% 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.second_block .films .item{
width: 22%;
height: 40%;
margin: 0 2% 5% 0;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.second_block .films .item .poster{
    width: 100%;
}

.second_block .films .item .poster img{
    opacity: 1;
    transition: opacity .2s linear;
}
.second_block .films .item .poster img:hover{
    opacity: 0.5;
}
.second_block .films .item .info h3{
    font-size: 1.9vw;
    margin: 5px 0;
}
.second_block .films .item .info h5{
    font-size: 1.2vw;
    font-weight: 300;
}
.second_block .films .item .info h4{
    font-size: 1.6vw;
    color: #FF12BD;
    margin: 5px 0;
}

.second_block .films .item .bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5% 0 0 0;
}